/* ignore WP core and misc*/
.env

*.swp
wpcsv_backups/

wp-content/*
wp-content/plugins/*
!wp-content/themes/


sitemap.xml
*.log
/wp-*.php
/index.php
license.txt
readme.html
wp-admin/
wp-includes/
xmlrpc.php
wp-content/cache/
wp-content/backups/
wp-content/mu-plugins/pagely*
wp-config-hosting.php
db-config.php
sitemap.xml.gz
.DS_Store
.idea