/*
|------------------------------------------------------------------|
|                         All button styles                        |
|------------------------------------------------------------------|
*/
.load-more-button {
  display: inline-block;
  padding: 0.75rem 1rem;
  vertical-align: middle;
  background-color: transparent;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 0.25rem;
  border: 1px solid $soft-peach;
  transition: opacity 0.3s, transform 0.3s;
}
