.comment-form {
  label {
    font-family: $primary-font;
    font-size: 1.125rem;
    font-weight: 400;
    color: $dove-grey;
    line-height: 1.7;
  }

  input {
    overflow: visible;
    padding: 0.8125rem 1rem;
    max-width: 100%;
    margin: 0;
    outline: 0;
    border: 2px solid $soft-peach;
    line-height: 1.5;
    border-radius: 4px;
    background-color: white;
    transition: background 0.3s, color 0.3s, border 0.3s;
    background-image: -webkit-linear-gradient(
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0)
    );

    &:focus {
      border: 2px solid $primary-color;
      background-color: $soft-peach;
      color: $primary-color;
    }
  }

  .comment-reply-title {
    margin-bottom: 0.875rem;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 1.4375rem;
    color: $primary-color;
  }

  .comment-notes {
    font-family: $primary-font;
    font-size: 0.875rem;
    font-weight: 400;
    color: $cow-black;
    margin-bottom: 1rem;
    line-height: 1.7;
  }

  .comment-form-comment {
    font-family: $primary-font;
    font-size: 1.125rem;
    font-weight: 400;
    color: $dove-grey;
    margin-bottom: 1rem;
    line-height: 1.7;

    textarea {
      padding: 0.8125rem 1rem;
      max-width: 100%;
      width: 100%;
      margin: 0;
      outline: 0;
      border: 2px solid $soft-peach;
      background-color: white;
      transition: background 0.3s, color 0.3s, border 0.3s;
      background-image: -webkit-linear-gradient(
        hsla(0, 0%, 100%, 0),
        hsla(0, 0%, 100%, 0)
      );

      &:focus {
        border: 2px solid $primary-color;
        background-color: $soft-peach;
        color: $primary-color;
      }
    }
  }

  .comment-form-author {
    margin-bottom: 1rem;
    float: left;
    width: 30.75%;
    margin-right: 3.8%;
  }

  .comment-form-email {
    margin-bottom: 1rem;
    float: left;
    width: 30.75%;
    margin-right: 2.8%;
  }

  .comment-form-url {
    margin-bottom: 1rem;
    float: right;
    width: 30.75%;
    margin-right: 3.8%;
  }

  .comment-form-cookies-consent {
    display: inline-block;

    input {
      clear: none;
      cursor: pointer;
      display: inline-block;
      line-height: 0;
      height: 18px;
      margin: -3px 4px 0 0;
      outline: 0;
      padding: 0;
      text-align: center;
      width: 18px;
      min-width: 18px;
      appearance: none;
    }
  }

  .form-submit {
  }
}
