.previous-comments {
  margin-bottom: 1.25rem;

  h2 {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 1.4375rem;
    letter-spacing: -1px;
    color: $primary-color;
    margin-bottom: 1rem;
  }

  article {
    margin-bottom: 1.25rem;

    .single-comment {
      display: flex;

      .single-author-avatar {
        min-width: 2rem;
        max-width: 2rem;
        min-height: 2rem;
        max-height: 2rem;
        margin-right: 0.5rem;

        img {
          width: 100%;
          height: 100%;
          border-radius: 2%;
        }
      }

      .single-comment-body {
        position: relative;
        width: 100%;
        background: white;
        border: 0.125rem solid $soft-peach;
        border-radius: 0.125rem;
        padding: 1rem;

        .single-author-name {
          font-family: $primary-font;
          font-size: 1rem;
          line-height: 1.7;
          color: $cow-black;
          font-weight: 700;
        }

        .single-comment-meta {
          font-family: $primary-font;
          font-size: 0.8125rem;
          color: $boulder-grey;
          line-height: 1.7;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }

        .single-comment-content {
          font-family: $primary-font;
          font-size: 1rem;
          line-height: 1.7;
          color: $cow-black;
        }

        .reply-link {
          a {
            text-decoration: none;
            font-family: $primary-font;
            font-size: 0.8125rem;
            line-height: 1.7;
            color: $boulder-grey;
            font-weight: 600;
            margin-top: 0.5rem;
          }
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.comment-form {
  padding-bottom: 1.25rem;

  label {
    font-family: $primary-font;
    font-size: 1.125rem;
    font-weight: 400;
    color: $dove-grey;
    line-height: 1.7;
  }

  input {
    overflow: visible;
    padding: 0.8125rem 1rem;
    max-width: 100%;
    margin: 0;
    outline: 0;
    border: 0.125rem solid $soft-peach;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color: white;
    transition: background 0.3s, color 0.3s, border 0.3s;
    background-image: -webkit-linear-gradient(
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0)
    );

    &:focus {
      border: 2px solid $primary-color;
      background-color: $soft-peach;
      color: $primary-color;
    }

    @media (max-width: $break-point-md) {
      width: 100%;
    }
  }

  .logged-in-as {
    p {
      font-family: $primary-font;
      line-height: 1.7;
    }

    a {
      text-decoration: none;
      color: $cow-black;

      &:last-child {
        color: $primary-color;
      }
    }
  }

  .comment-reply-title {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 1.4375rem;
    color: $primary-color;
  }

  .comment-notes {
    font-family: $primary-font;
    font-size: 0.875rem;
    font-weight: 400;
    color: $cow-black;
    margin-bottom: 1rem;
    line-height: 1.7;
  }

  .comment-form-comment {
    font-family: $primary-font;
    font-size: 1.125rem;
    font-weight: 400;
    color: $dove-grey;
    margin-bottom: 1rem;
    line-height: 1.7;

    textarea {
      padding: 0.8125rem 1rem;
      max-width: 100%;
      width: 100%;
      margin: 0;
      outline: 0;
      border: 2px solid $soft-peach;
      background-color: white;
      transition: background 0.3s, color 0.3s, border 0.3s;
      background-image: -webkit-linear-gradient(
        hsla(0, 0%, 100%, 0),
        hsla(0, 0%, 100%, 0)
      );

      &:focus {
        border: 2px solid $primary-color;
        background-color: $soft-peach;
        color: $primary-color;
      }
    }
  }

  .comment-form-author {
    margin-bottom: 1rem;
    width: 100%;

    @media screen and (min-width: $break-point-md) {
      float: left;
      width: 30.75%;
      margin-right: 3.8%;
    }
  }

  .comment-form-email {
    margin-bottom: 1rem;
    width: 100%;

    @media screen and (min-width: $break-point-md) {
      float: left;
      width: 30.75%;
      margin-right: 3.8%;
    }
  }

  .comment-form-url {
    margin-bottom: 1rem;
    width: 100%;

    @media screen and (min-width: $break-point-md) {
      float: left;
      width: 30.75%;
    }
  }

  .comment-form-cookies-consent {
    display: inline-flex;
    align-items: center;
    text-align: start;
    margin-bottom: 1.125rem;

    input[type="checkbox"] {
      // clear: none;
      height: 1.125rem;
      margin-right: 0.375rem;
      accent-color: white;
      border: 0.125rem solid $soft-peach;
      outline: 0;
      padding: 0;
      text-align: center;
      width: 1.125rem;
      min-width: 1.125rem;
      cursor: pointer;
      appearance: none;

      &:checked::before {
        content: "\2713";
        font-family: $primary-font;
        color: $primary-color;
        accent-color: white;
        font-size: 1rem;
        text-align: center;
        line-height: 1;
        text-align: center;
      }
    }
  }

  .form-submit {
    input {
      display: inline-block;
      vertical-align: middle;
      background: $primary-color;
      width: fit-content;
      border: 2px solid $primary-color;
      color: white;
      font-family: $primary-font;
      font-weight: 600;
      font-size: 0.8125rem;
      padding: 0.8125rem 0.9375rem;
      transition: all 0.3s;
    }
  }
}
