.article-card {
  position: relative;
  margin-bottom: 1.25rem;

  .line {
    height: 10px;
    width: 100%;
    background: red;
  }

  a {
    text-decoration: none;
  }

  .image-container {
    width: 100%;

    .card-image {
      width: 100%;
      img {
        width: 100%;
        height: auto;
        border-radius: 0.3125rem;
      }
    }
  }

  .card-content {
    position: relative;
    z-index: 2;
    padding: 1rem;
    margin-top: -4%;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    .card-category {
      padding: 0.125rem 0;
      font-weight: 600;
      color: #000000;
      opacity: 0.7;
      font-size: 0.6rem;
      line-height: 1.3;
      margin-bottom: 0.4rem;

      span {
        padding-right: 0.25rem;
      }

      .category-title {
        font-family: $primary-font;
        color: $dark-jungle-green;
        text-transform: uppercase;

        &:hover {
          color: #000000;
          font-weight: 700;
          opacity: 1;
        }
      }
    }

    .card-title {
      font-family: $primary-font;
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 1.2;
      color: $dark-jungle-green;
      word-wrap: break-word;
    }

    .card-excerpt {
      font-family: $primary-font;
      font-size: 0.9rem;
      line-height: 1.5;
      color: $cow-black;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
  }

  .post-meta {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0;
    padding-left: 0;
    width: 100%;
    color: #000000;
    opacity: 0.7;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.6rem;
      font-family: $primary-font;
      text-transform: uppercase;
      align-items: baseline;
      font-weight: 600;
      line-height: 1.7;
      margin-right: 1rem;

      i {
        margin-right: 0.25rem;
      }

      // last span
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
