.feature-tabs {
  font-size: 0.75rem;
  padding: 0.5rem 0.25rem;
  padding-top: 0;

  .feature-tab {
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 0.625rem;
    font-family: $primary-font;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    color: $dove-grey;
    border: 0;
    cursor: pointer;
  }

  .is-active {
    color: $primary-color;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: $primary-color;
    }
  }

}
