.side-card-container {
  width: 100%;
	padding: 0.5rem 0.25rem;

  .card-image {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    object-position: center;

    img {
      width: 100%;
      height: auto;
      max-height: 8rem;
      border-radius: 0.25rem;
    }
  }

  .card-content-wrapper {
    display: flex;

    .card-content {
      display: flex;
      flex-direction: column;
      padding-top: 0.625rem;

      a {
        text-decoration: none;

        .card-category {
          padding: 0.125rem 0;
          font-weight: 600;
          color: #000000;
          opacity: 0.7;
          font-size: 0.6rem;
          line-height: 1.3;
          margin-bottom: 0.4rem;

          span {
            padding-right: 0.25rem;
          }

          .category-title {
            font-family: $primary-font;
            color: $dark-jungle-green;
            text-transform: uppercase;

            &:hover {
              color: #000000;
              font-weight: 700;
              opacity: 1;
            }
          }
        }
      }

      .card-title {
        h3 {
          font-family: $primary-font;
          font-weight: 600;
          font-size: 0.9rem;
          line-height: 1.1;
          color: $liver-grey;
          word-wrap: break-word;
        }
      }

      .post-meta {
        display: flex;
        align-items: center;
        padding-top: 0.5rem;
        padding-bottom: 0;
        padding-left: 0;
        width: 100%;
        color: #000000;
        opacity: 0.7;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.6rem;
          font-family: $primary-font;
          text-transform: uppercase;
          align-items: baseline;
          font-weight: 600;
          line-height: 1.7;
          margin-right: 1rem;

          i {
            margin-right: 0.25rem;
          }

          // last span
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
