/*
|------------------------------------------------------------------|
|                             All color codes                      |
|------------------------------------------------------------------|
*/



/*
|------------------------------------------------------------------|
|                             Font color codes                     |
|------------------------------------------------------------------|
*/
$text-primary: #333;
$text-secondary: #666;
$text-tertiary: #999;
