/*
|------------------------------------------------------------------|
|                             All color codes                      |
|------------------------------------------------------------------|
*/
$primary-color: $deep-cerise;


/*
|------------------------------------------------------------------|
|                              Fonts                               |
|------------------------------------------------------------------|
*/

$primary-font: $font-source-sans-pro;

/*
|------------------------------------------------------------------|
|                             Font color codes                     |
|------------------------------------------------------------------|
*/
