/*
|------------------------------------------------------------------|
|                             Font families                        |
|------------------------------------------------------------------|
*/

// import Source Sans Pro from google fonts
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

/*
|------------------------------------------------------------------|
|                                Fonts                             |
|------------------------------------------------------------------|
*/

$font-source-sans-pro: "Source Sans Pro", sans-serif;


/*
|------------------------------------------------------------------|
|                            Text styles                           |
|------------------------------------------------------------------|
*/

.load-more-text {
  font-family: $font-source-sans-pro;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.025rem;
  color: $eel-black;
}
