.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.hide {
    display: none;
}

.text-center {
    text-align: center;
}

.white-background {
    background-color: white;
}

.smokey-background {
    background-color: $white-smoke;
}