
/*
|------------------------------------------------------------------|
|                             All color codes                      |
|------------------------------------------------------------------|
*/

$occen-blue: #00a0e9;
$occen-green: #00B8B8;
$occen-white: #fff;
