
/*
|------------------------------------------------------------------|
|                             All color codes                      |
|------------------------------------------------------------------|
*/

$davy-grey: #555555;
$dark-grey: #373737;
$goose-grey: #d1d1d1;
$white-smoke: #f5f5f5;
$mercury: #e5e5e5;
$deep-cerise: #D93F7E;
$boulder-grey: #777;
$eel-black: #444;
$soft-peach: #eee;
$ironside-grey: #666666;
$dark-jungle-green: #242424;
$dune-black: #333;
$cow-black: #454545;
$pastel-grey: #ccc;
$dove-grey: #6c6c6c;
$ecru-beige: #FEFFC3;