
/*
|------------------------------------------------------------------|
|                             All color codes                      |
|------------------------------------------------------------------|
*/

$davy-gray: #555555;
$dark-grey: #373737;
$white-smoke: #f5f5f5;
$mercury: #e5e5e5;
$deep-cerise: #D93F7E;
$boulder-grey: #777;
$eel-black: #444;
$soft-peach: #eee;