
/*
|------------------------------------------------------------------|
|                             All color codes                      |
|------------------------------------------------------------------|
*/

$davy-gray: #555555;
$white-smoke: #f5f5f5;
$mercury: #e5e5e5;

$deep-cerise: #D93F7E;
$boulderr-grey: #777;