@import 'base/vars';
@import 'base/base';
@import 'base/mixins';
@import 'base/grids';
@import 'base/typography';
@import 'base/utilities';

// components
@import 'components/buttons';

// templates
@import 'templates/footer';
@import 'templates/index';
@import 'templates/archive';
