@import 'base/vars';
@import 'base/base';
@import 'base/mixins';
@import 'base/grids';
@import 'base/typography';
@import 'base/utilities';

// theme config
@import 'base/config';

// components
@import 'components/navigation';
@import 'components/buttons';
@import 'components/post-card';

// templates
@import 'templates/header';
@import 'templates/footer';
@import 'templates/index';
@import 'templates/archive';
