@import 'base/vars';
@import 'base/base';
@import 'base/mixins';
@import 'base/grids';
@import 'base/typography';

// theme config
@import 'base/config';

// commonly used
@import 'base/utilities';

// components
@import 'components/navigation';
@import 'components/buttons';
@import 'components/post-card';
@import 'components/side-card';
@import 'components/feature-card';

// templates
@import 'templates/header';
@import 'templates/footer';

@import 'templates/index';
@import 'templates/archive';
@import 'templates/contact';
@import 'templates/about';
@import 'templates/single';