.about-section {
  max-width: 41.25rem;
  padding-top: 2.125rem;
  padding-bottom: 3.125rem;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-family: $primary-font;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.1;
    color: $dune-black;
    margin-left: 1rem;
    margin-bottom: 0.5rem;

    @media screen and (min-width: $break-point-md) {
      // margin-left: auto;
      margin-right: auto;
    }
  }

  h4 {
    font-family: $primary-font;
    font-size: 1.75rem;
    line-height: 1.1;
    font-weight: 600;
    color: $cow-black;
    margin: 1.75rem 1rem;

    @media screen and (min-width: $break-point-md) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  p {
    display: block;
    font-family: $primary-font;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.7;
    color: $cow-black;
    margin-bottom: 1.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .wp-block-group {
    margin: 1rem auto;

    .wp-block-group__inner-container {
      vertical-align: middle;
      margin: 2.125rem auto;

      figure {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          border-radius: 5px;
          max-width: 22.5rem;
          max-height: 16.125rem;
          width: auto;
          object-fit: cover;
          background-size: cover;
          background-position: center center;
          z-index: 2;
        }
      }
      blockquote {
        margin: 1.7rem 1rem;
        border: 0.625rem solid $white-smoke;
        font-size: 1.3em;
        font-weight: bold;
        line-height: 1.5;
        color: #d93f7e;
        padding: 1.5rem 1.1875rem;
        z-index: 1;

        p {
          font-family: $primary-font;
          font-size: 1.625rem;
          line-height: 1.5;
          font-weight: 700;
          color: $primary-color;
          margin-bottom: 1.25rem;
          max-width: 20rem;
        }

        cite {
          font-family: $primary-font;
          font-size: 1.125rem;
          line-height: 1.5;
          font-weight: 700;
          color: black;
          opacity: 0.3;
          margin-bottom: 1.25rem;
        }
      }
    }

    //
    @media screen and (min-width: $break-point-md) {
      .wp-block-group__inner-container {
        position: relative;
        vertical-align: middle;
        margin: 2.125rem auto;

        figure {
          position: relative;
          top: 0;
          left: 0;

          img {
            position: absolute;
            border-radius: 5px;
            max-width: 22.5rem;
            max-height: 16.125rem;
            width: auto;
            right: 58%;
            top: 0;
            object-fit: cover;
            background-size: cover;
            background-position: center center;
            z-index: 2;
          }
        }
        blockquote {
          position: relative;
          top: 0;
          left: 0;
          margin: 1.7rem auto;
          border: 0.625rem solid $white-smoke;
          font-size: 1.3em;
          font-weight: bold;
          line-height: 1.5;
          color: #d93f7e;
          padding: 1.5rem 1.175rem;
          z-index: 1;

          p {
            position: relative;
            font-family: $primary-font;
            font-size: 1.625rem;
            line-height: 1.5;
            font-weight: 700;
            color: $primary-color;
            margin-bottom: 1.25rem;
            max-width: 20rem;
            margin-left: auto;
          }

          cite {
            font-family: $primary-font;
            font-size: 1.125rem;
            line-height: 1.5;
            font-weight: 700;
            color: black;
            opacity: 0.3;
            margin-bottom: 1.25rem;
          }
        }
      }
    }
  }

  hr {
    clear: both;
    border: 0;
    width: 100%;
    max-width: 7.5rem;
    margin: 2.75rem auto;
    height: 1px;
    background: $goose-grey;
  }

  ol {
    margin: 1.7rem 1rem;
    font-family: $primary-font;
    list-style: none;

    li {
      position: relative;
      padding-left: 2.8125rem;
      margin: 1rem 0;
      font-family: $primary-font;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.7;
      color: $cow-black;
      counter-increment: list;

      &:before {
        content: counter(list);
        position: absolute;
        top: 0.15rem;
        left: 0;
        width: 1.875rem;
        height: 1.875rem;
        border: 2px solid $mercury;
        border-radius: 1.875rem;
        text-align: center;
        line-height: 26px;
        font-family: $primary-font;
        font-weight: 600;
        font-size: 1.25rem;
      }

      strong {
        font-weight: 700;
      }
    }

    @media screen and (min-width: $break-point-md) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  a {
    @extend .link-hover-class;
    padding-bottom: 0.125rem;
  }
}
