.feature-container {
  padding: 2.125rem 0;
  background-color: $white-smoke;
}

.filter-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
  background-color: #{$primary-color}#{"20"};

  h2 {
    text-align: center;
    font-family: $primary-font;
    color: $dove-grey;
    font-weight: 600;

    span {
      margin-right: 0.25rem;
    }
  }

  .filter-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0.5rem;

    .dropdown {
      position: relative;
      vertical-align: middle;
      text-align: center;
      justify-content: center;
      margin-right: 1rem;
      font-size: 1.125rem;
      width: 100%;
      max-width: 15rem;
      cursor: pointer;

      .items {
        position: relative;
        border: 0.125rem solid white;
        padding: 0.5rem 1rem;
        background: transparent;
        width: 100%;
        left: 0;
        right: 0;
        max-width: max-content;


        span {
          font-size: 1.125rem;
          color: white;
        }
      }

      ul {
        display: none;
        position: absolute;
        width: 100%;
        max-width: max-content;
        margin: 0;
        padding: 0;
        font-weight: 400;
        background: white;
        color: $primary-color;
        border: 1px solid rgba($primary-color, 0.5);
        z-index: 50;
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: auto;

        li {
          display: block;
          list-style: none;
          border-bottom: 1px solid $primary-color;
          color: $primary-color;
          font-family: $primary-font;
          font-weight: 400;
          padding: 10px 15px;
          transition: all 0.3s ease-in-out;

          &:first-child {
            display: block;
            border-top: 1px solid $primary-color;
          }

          &:last-child {
            border-bottom: 0;
          }

          &:hover {
            background: $primary-color;
            color: white;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

.feature-tabs {
  font-size: 0.75rem;
  padding: 0.5rem 0.25rem;
  padding-top: 0;

  .feature-tab {
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 0.625rem;
    font-family: $primary-font;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    color: $dove-grey;
    border: 0;
    cursor: pointer;
  }

  .is-active {
    color: $primary-color;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: $primary-color;
    }
  }
}
