.title {
  font-family: $font-poppins;
  font-weight: bold;
}

.bg-blue {
  background-color: $occen-blue;
}

.bg-green {
  background-color: $occen-green;
}

.inter-text {
  font-family: $font-inter;
}

.white-text {
  color: $occen-white;
}