.article-heading {
  padding: 2.25rem 0;
  background-color: #f0f0f0;

  .container {
    position: relative;

    .image-container {
      padding: 0.5rem 1rem;

      img {
        width: 100%;
        min-height: 28.125rem;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;

        @media (max-width: $break-point-md) {
          min-height: 0;
        }
      }
    }
  }
  .content {
    display: flex;
    height: 100%;
    padding: 0.5rem 1rem;
    font-family: $primary-font;
    border-radius: 0.35rem;
    color: $eel-black;
    flex-direction: column;
    justify-content: center;

    .category-name {
      font-family: $primary-font;
      font-size: 0.6875rem;
      font-weight: 600;
      margin-bottom: 0.5rem;

      span {
        margin-right: 0.5rem;
      }

      &:hover {
        color: $eel-black;
        font-weight: 700;
      }
    }

    h1 {
      font-family: $primary-font;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.1;
      width: 80%;

      @media (max-width: $break-point-md) {
        width: 100%;
      }
    }

    .post-short-description {
      margin-bottom: 1.5rem;

      p {
        font-family: $primary-font;
        font-size: 1.125rem;
        line-height: 1.5;
      }
    }

    .post-meta {
      font-family: $primary-font;
      font-size: 0.75rem;
      font-weight: 600;
      color: $boulder-grey;

      span {
        margin-right: 0.5rem;
      }
    }
  }
}

.blog-post-body {
  padding: 2rem 0;
  font-family: $primary-font;
  font-size: 1.25rem;
  line-height: 1.7;
  color: $cow-black;
  background-color: white;

  .has-drop-cap {
    text-indent: 0;
    font-size: 1.25rem;
    font-weight: 1.7;
    font-weight: 400;

    font-family: $primary-font;
    text-align: justify;

    // make first letter of paragraph a drop cap
    &:first-letter {
      float: left;
      // display: inline-block;
      font-family: $primary-font;
      font-weight: 600;
      font-size: 4rem;
      line-height: 1;
      margin-top: -0.25rem;
      margin-right: 0.5rem;
      // font-size: 200%;
      // line-height: 100%;
      color: $eel-black;
    }
  }

  p {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.7;
    @extend .max-width-container;
    margin-bottom: 1rem;
    color: $cow-black;
  }
  .wp-block-image {
    margin-bottom: 1rem;
    position: relative;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 0.5rem;
      margin-bottom: 0.9rem;
      font-family: $primary-font;
      color: white;
      width: 100%;
      font-weight: 600;
      font-size: 0.95rem;

      a {
        color: white;
        padding-bottom: 1px;
        text-decoration: none;
        border-bottom: 1px solid #f1f1f1;
      }
    }
  }

  .wp-block-media-text {
    @extend .row;
    margin: 1rem 0;
    border: 1px solid #f1f1f1;

    .wp-block-media-text__content {
      @extend .col-sm-6;
      order: 1;

      p {
        height: 100%;
        margin: 0 auto;
        padding: 3rem;
        text-align: left;
        font-family: $primary-font;
        font-size: 1.5rem;
        line-height: 1.7;
        color: $cow-black;

        a {
          @extend .link-hover-class;
          background-position: 0 1.9rem;
          padding-bottom: 0.125rem;
        }

        @media screen and (max-width: $break-point-md) {
          padding: 1rem;
        }
      }
    }

    .wp-block-media-text__media {
      @extend .col-sm-6;
      order: 2;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.blog-post-content {
  max-width: 790px;
  margin: 0 auto;
}

.size-full {
  width: 100%;
  height: auto;
}

.max-width-container {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}
// short codes css will be here

// blogpost utils
.tag-container {
  h6 {
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: $primary-color;
    margin-bottom: 1rem;
    text-transform: uppercase;

    &:before {
      content: "";
      display: block;
      width: 1rem;
      height: 0.125rem;
      background: $mercury;
      margin-bottom: 0.5em;
    }
  }
  a {
    margin-right: 5px;
    text-decoration: none;
    margin-bottom: 5px;
    padding: 5px 10px;
    display: inline-block;
    background: $soft-peach;
    color: $primary-color;
    border-radius: 0.25rem;
    border: 0;
    font-size: 1rem;
    font-weight: 700;
  }
}

.author-container {
  margin-top: 1.5rem;
  display: flex;

  .author-image {
    width: 5rem;
    height: 5rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 1rem;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      // border: 1px solid $mercury;
      object-fit: cover;
    }
  }

  .author-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h6 {
      font-family: $primary-font;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.1;
      color: $dune-black;
      margin-bottom: 0.325rem;
      text-transform: uppercase;
    }

    p {
      font-family: $primary-font;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: $cow-black;
    }
  }
}

.join-newsletter-container {
  .join-newsletter {
    margin: 1.7rem 1rem;
    border: 0.625rem solid $white-smoke;
    font-family: $primary-font;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.5;
    color: #d93f7e;
    padding: 1.5rem 1.2rem;
    z-index: 1;

    h6 {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 700;
      color: $primary-color;
      line-height: 1.1;

      &:before {
        content: "";
        display: block;
        width: 1rem;
        height: 0.125rem;
        background: $mercury;
        margin-bottom: 0.5em;
      }
    }

    p {
      margin: 1rem 0;
      font-family: $primary-font;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.7;
      color: $cow-black;
    }

    input[type="email"] {
      display: block;
      width: 100%;
      outline: 0;
      max-width: 100%;
      padding: 0.8125rem 1rem;
      margin-bottom: 0.25rem;
      overflow: visible;
      font-family: $primary-font;
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.5;
      border: 0.125rem solid $soft-peach;
      border-radius: 0.25rem;
      background-color: white;
      background-image: -webkit-linear-gradient(
        hsla(0, 0%, 100%, 0),
        hsla(0, 0%, 100%, 0)
      );
      transition: background 0.3s, color 0.3s, border 0.3s;
    }

    button[type="submit"] {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
      padding: 0.8125rem 0.9375rem;
      font-family: $primary-font;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5;
      text-transform: uppercase;
      color: white;
      background: $primary-color;
      border: 2px solid $primary-color;
      transition: all 0.3s;

      &:hover {
        background: white;
        border: 0.125rem solid $primary-color;
        color: $primary-color;
      }
    }

    .agree-terms {
      font-family: $primary-font;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.7;
      color: $cow-black;

      a {
        color: $dove-grey;
      }

      input[type="checkbox"] {
        // clear: none;
        height: 1.125rem;
        margin-right: 0.375rem;
        accent-color: white;
        border: 0.125rem solid $soft-peach;
        outline: 0;
        padding: 0;
        text-align: center;
        width: 1.125rem;
        min-width: 1.125rem;
        cursor: pointer;
        appearance: none;

        &:checked::before {
          content: "\2713";
          font-family: $primary-font;
          color: $primary-color;
          accent-color: white;
          font-size: 1rem;
          text-align: center;
          line-height: 1;
          text-align: center;
        }
      }
    }
  }
}

.ads-container {
  margin-top: 1rem;
  margin-bottom: 2rem;

  .ad {
    display: flex;
    min-height: 5.625rem;
    background-color: $sea-shell;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $dove-grey;
    font-family: $primary-font;
    font-weight: 600;
    font-size: 0.975rem;
  }
}

.related-post-container {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;

  h2 {
    margin-bottom: 1rem;
    font-family: $primary-font;
    font-size: 1.325rem;
    font-weight: 700;
    line-height: 1.1;
    color: $primary-color;
    letter-spacing: -1px;
  }
}
