.post-banner {
  padding: 2.25rem 0;
  background-color: #f0f0f0;

  .container {
    position: relative;

    .image-container {
      padding: 0.5rem 1rem;

      img {
        width: 100%;
        min-height: 28.125rem;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;

        @media (max-width: $break-point-md) {
          min-height: 0;
        }
      }
    }
  }
  .content {
    display: flex;
    height: 100%;
    padding: 0.5rem 1rem;
    font-family: $primary-font;
    border-radius: 0.35rem;
    color: $eel-black;
    flex-direction: column;
    justify-content: center;

    .category-name {
      font-family: $primary-font;
      font-size: 0.6875rem;
      font-weight: 600;
      margin-bottom: 0.5rem;

      span {
        margin-right: 0.5rem;
      }

      &:hover {
        color: $eel-black;
        font-weight: 700;
      }
    }

    h1 {
      font-family: $primary-font;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.1;
      width: 80%;

      @media (max-width: $break-point-md) {
        width: 100%;
      }
    }

    .post-short-description {
      margin-bottom: 1.5rem;

      p {
        font-family: $primary-font;
        font-size: 1.125rem;
        line-height: 1.5;
      }
    }

    .post-meta {
      font-family: $primary-font;
      font-size: 0.75rem;
      font-weight: 600;
      color: $boulder-grey;

      span {
        margin-right: 0.5rem;
      }
    }
  }
}

.blog-post {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
