.post-banner {
  padding: 2.25rem 0;
  background-color: #f0f0f0;

  .container {
    position: relative;

    .image-container {
      padding: 0.5rem 1rem;

      img {
        width: 100%;
        min-height: 28.125rem;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;

        @media (max-width: $break-point-md) {
          min-height: 0;
        }
      }
    }
  }
  .content {
    display: flex;
    height: 100%;
    padding: 0.5rem 1rem;
    font-family: $primary-font;
    border-radius: 0.35rem;
    color: $eel-black;
    flex-direction: column;
    justify-content: center;

    .category-name {
      font-family: $primary-font;
      font-size: 0.6875rem;
      font-weight: 600;
      margin-bottom: 0.5rem;

      span {
        margin-right: 0.5rem;
      }

      &:hover {
        color: $eel-black;
        font-weight: 700;
      }
    }

    h1 {
      font-family: $primary-font;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.1;
      width: 80%;

      @media (max-width: $break-point-md) {
        width: 100%;
      }
    }

    .post-short-description {
      margin-bottom: 1.5rem;

      p {
        font-family: $primary-font;
        font-size: 1.125rem;
        line-height: 1.5;
      }
    }

    .post-meta {
      font-family: $primary-font;
      font-size: 0.75rem;
      font-weight: 600;
      color: $boulder-grey;

      span {
        margin-right: 0.5rem;
      }
    }
  }
}

.blog-post {
  font-family: $primary-font;
  font-size: 1.125rem;
  line-height: 1.7;
  color: $eel-black;
  background-color: white;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  ol {
    margin: 1.7rem 1rem;
    font-family: $primary-font;
    list-style: none;

    li {
      position: relative;
      padding-left: 2.8125rem;
      margin: 1rem 0;
      font-family: $primary-font;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.7;
      color: $cow-black;
      counter-increment: list;

      &:before {
        content: counter(list);
        position: absolute;
        top: 0.15rem;
        left: 0;
        width: 1.875rem;
        height: 1.875rem;
        border: 2px solid $mercury;
        border-radius: 1.875rem;
        text-align: center;
        line-height: 26px;
        font-family: $primary-font;
        font-weight: 600;
        font-size: 1.25rem;
      }

      strong {
        font-weight: 700;
      }
    }

    @media screen and (min-width: $break-point-md) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  ul {
    max-width: 41.25rem;
    margin: 1.5rem 1.1rem;

    li {
      font-family: $primary-font;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.7;
      color: $cow-black;
      margin-bottom: 0.25rem;

      &::marker {
        color: $pastel-grey;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.7;
      }
    }
  }

  .main-content {
    a {
      @extend .link-hover-class;
      padding-bottom: 0.125rem;
    }
  }
  figure {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      border-radius: 5px;
      max-width: 22.5rem;
      max-height: 16.125rem;
      width: auto;
      object-fit: cover;
      background-size: cover;
      background-position: center center;
      z-index: 2;
    }
  }
  blockquote {
    margin: 1.7rem 1rem;
    border: 0.625rem solid $white-smoke;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.5;
    color: #d93f7e;
    padding: 1.5rem 1.2rem;
    z-index: 1;

    p {
      font-family: $primary-font;
      font-size: 1.625rem;
      line-height: 1.5;
      font-weight: 700;
      color: $primary-color;
      margin-bottom: 1.25rem;
    }

    cite {
      font-family: $primary-font;
      font-size: 1.125rem;
      line-height: 1.5;
      font-weight: 700;
      color: black;
      opacity: 0.3;
      margin-bottom: 1.25rem;
    }
  }

  .wp-block-quote {
    margin: 1.7rem 1rem;
    border: 0.625rem solid $white-smoke;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.5;
    color: #d93f7e;
    padding: 1.5rem 1.2rem;
    z-index: 1;

    p {
      font-family: $primary-font;
      font-size: 1.625rem;
      line-height: 1.5;
      font-weight: 700;
      color: $primary-color;
      margin-bottom: 1.25rem;
    }

    cite {
      font-family: $primary-font;
      font-size: 1.125rem;
      line-height: 1.5;
      font-weight: 700;
      color: black;
      opacity: 0.3;
      margin-bottom: 1.25rem;
    }
  }
}
